<div class="bg-black rounded-3xl p-5">
  <section>
    <header>
      <h2 class="font-bold text-white text-2xl">
        La ruta introducida no hace referencia a ningún elemento existente
      </h2>
    </header>
    <div class="flex justify-center">
      <a
        href=""
        class="font-bold text-black bg-white text-lg p-3 mt-5 rounded-xl hover:bg-slate-600 hover:text-white hover:shadow-lg hover:shadow-white transition-all duration-500"
        >Volver a la pantalla inicial</a
      >
    </div>
  </section>
</div>
