<div
  *ngIf="(!elementNotFound || (category() && subcategory())) && !loading"
  class="bg-black rounded-3xl p-5"
>
  <section>
    <header>
      <h2 class="font-bold text-white text-2xl">{{ subcategory()!.name }}</h2>
      <h3
        *ngIf="!subcategory()!.articlesDisabled"
        class="font-bold text-white text-xl mt-10"
      >
        Artículos
      </h3>
    </header>
    <ul
      *ngIf="!subcategory()!.articlesDisabled"
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 mt-5"
    >
      <div *ngFor="let article of subcategory()!.articles">
        <li *ngIf="article.enabled">
          <a
            [href]="
              category()!.slug + '/' + subcategory()!.slug + '/' + article.slug
            "
            class="text-lg text-white font-bold hover:underline px-4 py-2"
          >
            {{ article.title }}
          </a>
          <p class="text-base text-white px-4 py-2">{{ article.excerpt }}</p>
        </li>
      </div>
    </ul>
    <p
      *ngIf="subcategory()!.articlesDisabled"
      class="font-bold text-white text-xl mt-10"
    >
      Esta subcategoría no tiene artículos disponibles. Esté atento/a a las
      novedades.
    </p>
  </section>
  <div class="flex justify-center">
    <a
      [href]="category()?.slug"
      class="font-bold text-black bg-white text-lg p-3 mt-5 rounded-xl hover:bg-slate-600 hover:text-white hover:shadow-lg hover:shadow-white transition-all duration-500"
      >Volver a ver todas las subcategorías de la categoría
      {{ category()?.name }}</a
    >
  </div>
</div>
<app-not-found *ngIf="elementNotFound && !loading"></app-not-found>
<spinner *ngIf="loading"></spinner>
