<div class="bg-black rounded-3xl p-5">
  <section>
    <header>
      <h2 class="font-bold text-white text-2xl">Principales categorías</h2>
    </header>
    <ul
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
    >
      <div *ngFor="let category of categories(); let i = index">
        <li *ngIf="i < 4" class="mt-5 mx-2">
          <a
            [href]="category.slug"
            class="text-lg font-semibold text-white hover:underline px-4 py-2"
          >
            {{ category.name }}
          </a>
          <ul>
            <div *ngFor="let subcategory of category.subcategories">
              <li *ngIf="subcategory.enabled">
                <a
                  [href]="category.slug + '/' + subcategory.slug"
                  class="text-sm text-gray-400 hover:underline px-4 py-2"
                >
                  {{ subcategory.name }}
                </a>
              </li>
            </div>
          </ul>
        </li>
      </div>
    </ul>
    <div *ngIf="categories()?.length! > 4" class="flex justify-center mt-5">
      <a
        href="categories"
        class="px-4 py-2 font-bold bg-white text-black rounded-xl hover:bg-gray-600 hover:shadow-lg hover:shadow-black transition-all duration-500"
      >
        Ver todas las categorías
      </a>
    </div>
  </section>
</div>
